@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap'); 

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, input {
  font-family: 'Poppins', sans-serif;
}