#profile-image{
    width: 180px;
    height: 180px;
}

#gallery{
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    flex-direction: row;
}

#photo-user{
    width: 25%;
}

#photo-user button {
    position: relative;
    top: -12%;
    background-color: white;
    padding: 0em 0.5em;
    border: 2px solid black;
    margin: 0.2em 0.2em;
    color: black;
}
#photo-user button:hover {
    background-color: red;
    border: 2px solid red;
    color: white;
}