.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    overflow: hidden;
}

.container::before {
    content: "";
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    background: linear-gradient(-45deg, #4481eb, #04befe);
    top: -10%;
    right: 48%;
    transition: 1.8s ease-in-out;
    transform: translateY(-50%);
    z-index: 4;
}

.forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.2s 0.7s ease-in-out;
}

.login-signup {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
    transition: 1s 0.7s ease-in-out;
}

.log-in-form, .sign-up-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 5rem;
    overflow: hidden;
    grid-column: 1/2;
    grid-row: 1/2;
}

.log-in-form {
    z-index: 2;
}

.sign-up-form {
    z-index: 1;
    opacity: 0;
}


.title {
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
}

.input-field {
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #f0f0f0;
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
}

.input-field .i {
    text-align: center;
    color: #acacac;
    margin: auto;
    transition: 0.5s;
    font-size: 1.1rem;
}


.input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}

.input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
}

.login, .signup {
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 49px;
    cursor: pointer;
    background-color: #5995fd;
    color: #fff;
    font-weight: 600;
    margin: 10px 0;
    transition: .5s;
}

.login:hover, .signup:hover {
    background-color: #4d84e2;
}

.signup-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.8rem;
}

.panels-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 4;
}

.left-panel,.right-panel {
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
}

.panel .content {
    color: #fff;
    transition: 0.9s 0.6s ease-in-out;
}

.panel h3 {
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
}

.panel p {
    font-size: 0.95rem;
    padding: 0.7rem 0;
}

.btn.btn-transparent {
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
    cursor: pointer;
    color: white;
    border-radius: 10px;
}

.image {
    width: 100%;
    transition: 1.1s 0.4s ease-in-out;
}


.right-panel .content, .right-panel .image {
    transform: translateX(800px);
}


/* ANIMATION */
.container.sign-up-mode::before {
    transform: translate(100%, -50%);
    right: 52%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
    transform: translateX(-800px);
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
    transform: translateX(0%);
}

.container.sign-up-mode .left-panel {
    pointer-events: none;
}
.container.sign-up-mode .right-panel {
    pointer-events: all;
}

.container.sign-up-mode .login-signup {
    left: 25%;
}
.container.sign-up-mode .sign-up-form {
    z-index: 3;
    opacity: 1;
}

.container.sign-up-mode .log-in-form {
    z-index: 2;
    opacity: 0;
}