@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500&display=swap');

#search_bar {
    width: 35vw;
}

li {
    list-style: none;
    padding: 0.4px 0.6px;
    margin: 0 0.6rem;
}

#logoName {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: bold;
}